@if(Request.IsAuthenticated) {
    
        <div class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown">
                Welcome <strong>@User.Identity.Name</strong>!
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Change password", "ChangePassword", "Account")</li>
                <li>@Html.ActionLink("Log Off", "LogOff", "Account", new { area = "" }, null)</li>            
            </ul>
        </div>
}
else {
    @Html.ActionLink("Log On", "LogOn", "Account", new { area = "" }, null) 
}
