@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
            </p>
            @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
            {
                <p>
                    @ViewBag.Message
                </p>
            }
        </div>
    </section>
}
<h3>Getting started:</h3>
<ol class="round">
    <li class="one">
        <h5>Update your connection string</h5>
        Point to an ASP.Net security configured SQL Server database
    </li>
    <li class="two">
        <h5>Build</h5>
        Build your app. Out of the box you have the ability to create an account.
    </li>
</ol>
